<div class="columns two-thirds">
	<br>
	<h2>Admin Dashboard</h2>

	<div class="hint columns one">
	  Hi Foodwagon Admin! from your dashboard you can manage your website. Remember every change you make is reflected immediately on Foodwagon Web Site. For any question please call to Manoj :D
	</div>

	<%= link_to "Manage Menus", admin_menus_path %>
	<br>
	<%= link_to "Manage Settings", admin_settings_path %>

</div>
